.header {
    height: var(--header-height);
    background-image: linear-gradient(0, 	#88d0f2,	#3c5db6);

}
.header-navbar {
    display: flex;
    justify-content: flex-end;
  
}
.header-navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 5px 0 0 0;
    align-items: center;
    display: flex;

}
.header-navbar-item {
    margin: 0 8px ;
    position: relative;
    min-height: 26px;
} 
.header-navbar-user{
    display: flex;
    align-items: center;
   margin-right: 150px;
}

.header-navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 5px;

}
.header-navbar-user-wrap {
    position:absolute;
    top: 2px;
}
.header-navbar-user:hover .header-navbar-user-log-out {
    display: block;
}

.header-navbar-user-log-out {
    position: absolute;
    top: 23px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(172,172,172);
    overflow: hidden;
    display: none;
    z-index: 1;
    text-align: center; 
   
}

.header-navbar-user-log-out-link a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 10px;
    color: var(--text-color);
    display: block;
}
.header-navbar-user-log-out-link a:hover {
    color: var(--primary-color);
}


.header-navbar-item,
.header-navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
   
}
.header-navbar-item,
.header-navbar-item-link{

    display: flex;
    align-items: center;
    justify-content: center;
   
}
.header-navbar-item:hover,
.header-navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255,255,255, 0.7)
}

.fa-solid.fa-phone {
    font-size: 1.2rem;
    margin-right: 3px;
}

.header-navbar-item-strong {
    font-weight: 400;
}
.header-navbar-item-separate::after {
    content:"";
    display: block;
    position: absolute;
    border-left: 1px solid #f6c5c1;
    height: 15px;
    right: -9px;
    top: 5px;
   

}


.home-banners {
   display:flex;
   height: 200px;
   margin-top: 20px ;
   margin-bottom: 20px;
   overflow: hidden;
}
.home-banners-content{
    display:flex;
}
.img-banner {
    transition: opacity 1s ease-in-out;
}

.hide {
    opacity: 0;
}


/*authen modal*/
.auth-form{
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;

}
.auth-form__container {
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #777;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.auth-form__controls-back{
    margin-right: 8px;
}


.auth-form__group-order{
    display: flex;
    position: relative;
   
}
.quantity {
    display: flex;
    align-items: center;
    position:absolute;
    right:0px;
    top: 0;
}

.label-quantity {
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    position:absolute;
    left: 5px;
    top: 5px;
}

.quantity-wrapper {
    display: flex;
    align-items: center;
}

.quantity-input {
    width: 40px;
    height: 30px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    outline: none;
    text-align: center;
}

.minus,
.plus {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 16px;
    padding: 0;
    font-size: 2rem;
    color: var(--primary-color);
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
    text-align: center;
}

.minus:hover,
.plus:hover {
    background-color: #c1b6b6;
}

.error-message{
    font-size: 1.4rem;
    color: red;
    margin-top: 16px;
    display:block;
    text-align: center;
}

/* check */
.auth-form-header-completed {
    display: flex;
    justify-content: center;
    align-items: center; /* căn giữa các mục theo chiều dọc */
    padding: 0 12px;
    margin-top: 50px;
}

.auth-form-header-check-item {
    font-size: 100px;
    color: green;
}
.auth-form-form-completed {
    margin-top: 50px;
}
.auth-form-group-completed {

    display:block;
    margin-top: 20px;
}
.auth-form-group-completed-title{
    text-align: center;
    font-size: 1.8rem;
}
.auth-form-group-completed-thanks{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
   
}
.auth-form-controls-completed {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
/*header with search*/
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items:center;
    margin: 0 8px;
}
.header-logo{
    width: 200px;
}
.header-logo-img {
    width: 200px;
    margin-top: -50px ;
    margin-left: -43px;
}
.header-search {
    flex:1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}
.header-cart{
    width: 150px;
    text-align: center;
  
}
.header-cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor:pointer;
}
.header-cart-wrap:hover .header-cart-list{
    display: block;
}

.header-cart-icon {
    color: var(--white-color);
    font-size: 3rem;
    margin-top: 6px;
}
.cart-badge {
    background-color:#820e0e; 
    color: white; 
    border-radius: 50%;
    padding: 2px 6px; 
    font-size: 1rem; 
    position: absolute; 
    top: 0; 
    right: -7px; 
    transform: translate(-50%, -50%); 
}

.header-search-input-wrap {
    flex: 1;
    height: 100%;
    position:relative;
}
.header-search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;


}
.header-search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 5px;
    margin-right: 3px;
    outline: none;
}
.header-search-btn:hover {
    cursor: pointer;
    background-color: var(--brand-primary-color);
}
.header-search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header-search-input:focus ~.header-search-history{
    display: block;
}







/* app category */
.app-container {
    background-color:#F5F5F5 ;
}
.app__content{
    padding-top: 36px;
}
.category {
    background-color: var(--white-color);
    border-radius: 2px;
    border: 1px solid var(--primary-color);
}
.category__heading {
    background-color: var(--primary-color);
    padding: 5px 5px ;
    margin-top: 0px;
   
}
.category__heading-menu{
    font-size: 1.5rem;
    color: var(--white-color);
    font-weight: 50;
    text-transform: uppercase;  
    text-align: center;  
   
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
}

.category-item{
  position: relative;
  margin-bottom: 20px; 
   
}

.category-item i.fa-chevron-down::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 6px; 
    height: 6px;
    top: 10px; 
    border-style: solid;
    border-width: 2px 2px 0 0; 
    transform: rotate(135deg); 
    right: 10px; 
}
.category-item:hover i.fa-chevron-down::before{
    transform: rotate(45deg); 
}

.category-item-list {
    display: none;
    position: absolute;
    width: 220px;
    top: -20px;
    left: 190px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    border: 1px solid var(--primary-color);
}

.category-item:hover .category-item-list {
    display: block;
 
}
.category-item-info {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor:pointer;
}

.category-item-name {
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 5px 0;
    position: relative; 
    padding: 10px 20px;
}
.category-item-name:hover {
    color: var(--primary-color);
    transform: translateX(5px);
}

.category-item-name:first-child::before {
    display: none;
}
.category-item-name::before{
    content: "";
    border-top: 1px solid var(--primary-color);
    position: absolute;
    top: -5px;
    left: 0px;
    right: 0px;
}


.category-item:first-child::before {
    display: none;
}
.category-item::before{
    content: "";
    border-top: 1px solid var(--primary-color);
    position: absolute;
    top: -20px;
    left: 10px;
    right: 10px;
}
.category-item__link {
    position: relative;
    color: var(--text-color);
    font-size: 1.5rem;
    text-decoration: none;
    display: inline-block;
    padding: 6px 20px;
    
}


.category-item__link:hover {
    color: var(--primary-color);
    transform: translateX(5px);
}
.icon-hot{
    width: 40px;
    height: 20px;
    position: absolute;
    top: 4px;
    right: 12px;

}
/* home sort + filter */
.home-filter {
    min-width: 90px;
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: #edecec;
    
}

.home-filter__label {
    font-size: 1.4rem;
    color:#666;
    margin-right: 20px;
    font-weight: bold;
}


.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-curent {
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn {
   flex: 1;
   display:flex ;
    background-color: var(--white-color);
    text-decoration: none;

}
.home-filter__page-btn:hover {
    background-color: #e2dcdc;
}
.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}
.home-filter__page-btn--disabled {
    background-color: #e2dcdc;
    cursor: default;
}
.home-filter__page-btn:first-child{
    border: 1px solid #eee;
}
.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}
/* product item */
.home-product {
    margin-bottom: 10px;
}
.home-product-item {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    
}
.home-product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid var(--primary-color);
}
.home-product-item__img{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.home-product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    margin-left: 10px;
    text-decoration: line-through;
}
.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action{
    display: flex;
    margin: 6px 10px 0;
    justify-content: space-between;
}
.home-product-item__like {
    font-size: 1.4 rem;
}
.home-product-item__like {
    font-size: 1.3rem;

}
.home-product-item__like-icon-fill {
    display: none;
    color: #F63D30;
}
.home-product-item__like-liked .home-product-item__like-icon-fill{
    display: block;

}
.home-product-item__like-liked .home-product-item__like-icon-empty{
    display: none;
}
.home-product-item__rating {
    font-size: 0.6rem;
    color: #D5D5D5;
    margin: -1px 0 0 auto;

}
.home-product-item__star--gold {
    color: var(--star-gold-color);
}
.home-product-item__sold {
    font-size: 1.2 rem;
    color: var(--text-color);
    margin-left: 6px;
}
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin:3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}


.home-product-item__sale-off {
    border-top-right-radius: 2px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgb(255, 216, 64, 0.9);
}
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 5px;
    color:  rgb(255, 216, 64, 0.9);
    border-style: solid ;
    border-color: transparent  currentColor transparent  currentColor;
}
.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
}
.home-product-item__sale-off-label {
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--white-color);
    font-weight: 600;
    top: 0px;
    position: relative;
}
.home-product__pagination{
    margin-top: 48px 0 32px;
}
.home-product-item-buy{
    display: flex;
}
.home-product-item-add-cart {
    font-size: 3.5rem;
    padding: 10px;
    width: 50px;
}
.home-product-item-add-cart i{
    color:#999;
}
.home-product-item-add-cart i:hover {
    color:#666;
}
.home-product-item-buy-now {
    font-size: 1.6rem;
    text-align: center;
    position:absolute;
    color: var(--white-color);
    background-color:var(--primary-color);
    padding: 10px;
    width:100px;
    right: 5px;
    bottom: 10px;
    border-radius: 2px;
    z-index: 1;
}
.home-product-item-buy-now:hover{
    background-color:var(--brand-primary-color);
}

/* show product */
.show-product {
    display : none;
}

/* footer */
.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}
.footer__heading {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--text-color);
    text-align: center;
}
.footer__list {
    padding-left: 0;
    list-style: none;

}
.footer-item__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.footer-item__link:hover {
    color: var(--primary-color);
}
.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__bottom {
    background-color:#F5F5F5 ;
    padding: 8px 0;
    margin-top: 36px;
   
}
.footer__text {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
}
.footer-item-text{
    font-size: 1.4rem;
    color: #737373;
}

.footer-logo{
    width:200px;
    margin-top: -40px;
    margin-left: 50px;
}

.show-product{
    background-color:#f1eeee;
}

.show-product-container{
    display:flex;
    background-color:var(--white-color);
    top:20px;
   
}
.show-product-right{
    width:95%;
    height: 100%;
    position:relative;
    overflow:hidden;
    
}
.show-product-left{
  width:80%;
  height: 100%;
  text-align: center;
  margin-left: 15px;
  overflow:hidden
}

.close-show-product {
    font-size: 1.5rem;
    position:absolute;
    right: 0;
   
}
.close-show-product i:hover{
    color:#c1b6b6
}
.show-product-right-name .home-product-item__name {
    font-size: 1.8rem; 
    padding: 50px 0;
    margin-left: 0;
}

.show-product-right-price .home-product-item__price .home-product-item__price-current{
    font-size: 2.5rem; 
    margin: 20px 10px 20px;
    
}
.show-product-right-price {
    background-color:#edecec;
 
}
.show-product-right-btn{
   display:block;
   text-align: center;
   margin-top:165px;
}

.show-product-right-btn-buy{
    font-size: 2rem;
    padding: 10px;
}


.page{
    display:none;
}

.close-page i {
    font-size: 2rem;
    color :#939393;
}
.close-page i:hover{
    cursor:pointer;
    color: var(--primary-color);
}
/*thêm vào giỏ hàng*/

.auth-form-add-cart{
    width: 1000px;
    height: 250px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
}
.auth-form-add-cart-container{
    padding: 0 32px;
   
}
.auth-form-add-cart-header{
    display:block;
    text-align: center;
    border-bottom: 1px solid var(--primary-color);
}
.auth-form-add-cart-heading{
    font-size: 1.5rem;
    font-weight: 300;
}
.auth-form-add-cart-form {
    display:flex;
    width: 100%;
    font-size: 1.4rem;
    margin-top: 20px;
 
}
.auth-form-add-cart-left{
    width: 50%;
    display:flex;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center;
}
.add-cart-img{
    width: 10%;
    
}
.add-cart-name{
    font-size: 2rem;
   margin-top: 20px;
 
}
.auth-form-add-cart-right {
    width: 50%;
    display:flex;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center;
}
.add-cart-quantity {
    width:30%;
    font-size: 2rem;
   margin-bottom: 15px;
    
}
.add-cart-price {
    width: 70%;
    display: flex;
    justify-content: center; /* Center contents of each block */
    align-items: center;
    text-align: center;
}
.Total-cost {
    display: flex;
    justify-content: flex-end;
    
}
.Total-cost-title {
    font-size: 2rem;
    font-weight: 100;
    margin-right: 10px;
}
.total-price {
    font-size: 2rem;
    font-weight: 100;
    color: var(--primary-color);
}
.add-cart-quantity
.auth-form__group-cart
.quantity-add-cart
.quantity-add-cart-wrapper{
    display: flex;
    align-items: center;
}
.quantity-input-cart{
    width: 40px;
    height: 30px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    outline: none;
    text-align: center;
}
.auth-form__controls-add-cart {
    margin-top: 50px;
}
.page-cart{
    display: none;
    text-align: center;
}
.wrap-page-cart.auth-form-add-cart-form {
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.message-order {
    position: absolute;
    bottom:65px;
    right:150px;
}
.error-message-order{
    font-size: 1.4rem;
    color:red;
}
.wrap-page-cart{
    position: relative;
   
}
.close-cart{
    font-size: 2.5rem;
    position: absolute;
    left: 0;
    top: 2px;
    color:#666;    
}
.close-cart:hover {
    color:#c1b6b6;
}

.no-cart-img{
    width: 50%;
    height: 50%;
}

.grand-total{
    position:absolute;
    bottom:100px;
    font-size: 2rem;
    color: red;
    right: 100px;
}
.btn-cart{
    position:absolute;
    bottom:20px;
    right: 100px;
}
.remove-button{
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
    background-color:var(--white-color);
}
.remove-button:hover{
    color:var(--primary-color);
}